.DS_Store
*.sublime-project
*.sublime-workspace
/flashtool/flashtool
tests/

*.o
*.a
*.l68
*.s68
*.map
/projects/progs/**/*.bin

# Ignored binary files
uploader/uploader
initial-flasher/host-flashtool/flashtool
